/* Write your CSS here */
.not-found-head {
  color: white;
  font-family: 'Bree Serif';
  font-weight: 700;
  font-size: 40px;
}

.nf-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
}

@media screen and (max-width: 768px) {
  .not-found-head {
    font-size: 30px;
  }
  .nf-cont {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
  }
}
